---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---


{% include base_path %}

{% comment %}
  Step 1. 收集所有 collection 标签
{% endcomment %}
{% assign all_collections = "" | split: "|" %}
{% for project in site.projects %}
  {% if project.collection %}
    {% assign current = project.collection %}
    {% unless all_collections contains current %}
      {% assign all_collections = all_collections | push: current %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% assign sorted_collections = all_collections | sort %}

{% comment %}
  Step 2. 按 collection 分组输出
{% endcomment %}
{% for cat in sorted_collections %}
  <h2 id="{{ cat | slugify }}">{{ cat }}</h2>
  <div class="project-category-group">
    {% assign projects_in_cat = site.projects | where: "collection", cat %}
    {% for post in projects_in_cat reversed %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
{% endfor %}