---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% assign sorted_categories = site.categories | sort %}

{% for category in sorted_categories %}
  {% assign cat_name = category[0] %}
  <h2 id="{{ cat_name | slugify }}" class="archive__subtitle">{{ cat_name }}</h2>
  
  <ul>
  {% for post in category[1] %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <small>({{ post.date | date: "%Y-%m-%d" }})</small>
    </li>
  {% endfor %}
  </ul>
{% endfor %}
