---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js" data-theme="dark">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <div id="dynamic-background" aria-hidden="true">
      <canvas id="dynamic-background-canvas"></canvas>
    </div>
    <div id="topology-overlay" aria-hidden="true">
      <div class="background-formula topology-formula topology-formula--left">\( \int_\Omega d\omega=\int_{\partial\Omega}\omega \)</div>
      <canvas id="torus-canvas"></canvas>
      <div class="background-formula topology-formula">\( c(E)=\det\left(I+\frac{i}{2\pi}F\right) \)</div>
    </div>
    <div class="background-formula background-formula--bottom-right" aria-hidden="true">\( \mathcal{M}_{flat}\cong Hom(\pi_1(M),G)/G \)</div>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="page__content-shell">
      {{ content }}
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
