/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: auto !important;
  height: $masthead-height;
  background: #07101d;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 5000;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0 1em;
    font-family: $sans-serif-narrow;
    height: $masthead-height;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5001;
    background: #07101d;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

#site-nav,
.greedy-nav {
  position: relative;
  z-index: 5002;
  min-height: $masthead-height;
  background: #07101d;
}

.masthead__menu {
  width: 100%;
  position: relative;
  z-index: 5002;
  background: #07101d;

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.greedy-nav .visible-links,
.greedy-nav .hidden-links,
.greedy-nav button {
  position: relative;
  z-index: 5003;
}

.masthead__menu-item {
  background-color: transparent;
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
